.product-list-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.product-list {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: space-evenly;
  padding: 10px 0;
}

/* Search Container */
.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.search-box {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding: 10px;
  border: 2px solid #FEE715;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  outline: none; /* Remove default browser outline */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-box:focus {
  border-color: #FFC300;
  box-shadow: 0 0 5px rgba(255, 195, 0, 0.7);
}

.clear-button {
  padding: 10px 16px;
  font-size: 16px;
  color: black;
  background-color: #FEE715;
  border: 2px solid #FEE715;
  border-radius: 0px 4px 4px 0;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #ddca1f;
}

/* Responsive Styles */

/* Small screens (Mobile) */
@media (max-width: 925px) {
  .search-box {
    width: 70%;
    font-size: 14px;
  }

  .clear-button {
    padding: 8px 12px;
    font-size: 14px;
  }

  .product-list {
    width: 100%;
    justify-content: center;
    gap: 10px;
  }
  .search-container{
    margin-bottom: 5px;
  }

  /* Adjust Card layout on smaller screens */
  .product-card {
    width: 100%;
  }
}

/* Medium screens (Tablets) */

/* Large screens */
@media (min-width: 1024px) {
  .search-box {
    width: 50%;
  }

  .product-list {
    width: 90%;
    justify-content: space-evenly;
  }
}
